
/*ESTILO RTEXTO MARCADO*/
    body {
    background-color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5%;
    background-image: url('../img/fond2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    font-size: 1.25em;
    }

    h1 {
        font-size: 3rem;
        color: #b32020;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    h2 {
        background-color:#b4253d;
        color: #c9acac;
        font-size: 2rem;
    }
    
    h3 {
        background-color: #eb7391;
        color: white;
        font-size: 1.5rem;
    }
    
    p {
        text-align: justify;
       
    }
    .enlace{
    
        text-align: justify, center;
        font-size: medium;
        background-color: #ff0457;
        color: white;
    }
    .enlace2{
    
        text-align: justify, center;
        font-size: medium;
        background-color: #0a2650;
        color: #eef080;
    }
    
    .indice{
        background-color: #ffa4c1cb;
        font-size: 1.25rem;
        margin-right: 70%;

    }

    address {
        font-size: 1rem;
        text-align: center;
    }
    .hueco{
        text-indent: 3em;
    }
   
    a:hover
    {
        background-color: #ffcc5c;
        border:white 2px solid;
        color: #ff6f69;
        text-align: center;
    }
    strong{
        color: #72287c;
    }
    img{
        display: block;
        margin: auto;
        border-top: 5px #b32020 dashed;
        border-bottom: 5px #b32020 dashed;
        border-left: 5px #b32020 dashed;
        border-right: 5px #b32020 dashed;
        border-radius: 5%;
    }

    .sub {
        background-color:#ffcc5c;; 
    }
    .flotante{
        margin-right: 20px;    
    }
    .flotanteIzq{
        margin-left: 20px;    
    }
    a{
        color: #72287c;
        
    }
    table{
        margin: auto;
        width: 20%;
    }
    .aumento {
        transition: transform .15s;
        float: left; 
        margin: 0mm;
        border-top:0ch;
        border-bottom: 0ch;
        border-left: 0ch;
        border-right: 0ch;
        border-radius: 0ch;
    }
     
    .aumento:hover {
        transform: scale(1.9); 
    }
    .index {
        background-color: #f5dce9;
        color: #ff0457;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .indexAbajo {
        position: relative;
        display: inline-block;
    }
    
    .indexAbajo-content {
        display: none;
        position: absolute;
        background-color: #f3aebd;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #810a24fb;
    }
    
    .indexAbajo-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .indexAbajo-content a:hover {background-color: #eeedb6}
    
    .indexAbajo:hover .indexAbajo-content {
        display: block;
    }
    
    .indexAbajo:hover .index {
        background-color: #e4948a;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
        
   .header{
    background-image:  url('../img/dibujo.jpg');
    background-repeat: no-repeat;
      
    
}