
/*ESTILO RTEXTO MARCADO*/
    body {
    background-color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5%;
    background-image: url('../img/fond2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    font-size: 1.25em;
    }

    h1 {
        font-size: 3rem;
        color: #b32020;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    h2 {
        background-color:#b4253d;
        color: #c9acac;
        font-size: 2rem;
    }
    
    h3 {
        background-color: #eb7391;
        color: white;
        font-size: 1.5rem;
    }
    
    p {
        text-align: justify;
       
    }
    .enlace{
    
        text-align: justify, center;
        font-size: medium;
        background-color: #ff0457;
        color: white;
    }
    .enlace2{
    
        text-align: justify, center;
        font-size: medium;
        background-color: #0a2650;
        color: #eef080;
    }
    
    .index{
        background-color: #ffa4c1cb;
        font-size: 1.25rem;
        margin-right: 70%;

    }

    address {
        font-size: 1rem;
        text-align: center;
    }
    .hueco{
        text-indent: 3em;
    }
   
    a:hover
    {
        background-color: #ffcc5c;
        border:white 2px solid;
        color: #ff6f69;
        text-align: center;
    }
    strong{
        color: #72287c;
    }
    img{
        display: block;
        margin: auto;
        border-top: 5px #b32020 dashed;
        border-bottom: 5px #b32020 dashed;
        border-left: 5px #b32020 dashed;
        border-right: 5px #b32020 dashed;
        border-radius: 5%;
    }

    .sub {
        background-color:#ffcc5c;; 
    }
    .flotante{
        margin-right: 20px;    
    }
    .flotanteIzq{
        margin-left: 20px;    
    }
    a{
        color: #72287c;
        
    }
    table{
        margin: auto;
        width: 20%;
    }
    .zoom {
        transition: transform .2s; 
    }
     
    .zoom:hover {
        transform: scale(1.5); 
    }
