.circulo {
    list-style-type: circle;
    }
.cuadrado {
        list-style-type: square;
        }    

.romano-mins {
            list-style-type: lower-roman;
            }

body {
    background-color: #fdfbf1;
    font-family: burlywood;
    text-align: justify;
        }
            
h1 {
    background-color:#DEB887;
    color: white;
     font-size: 3rem;
     text-align: center;
      }
                
h2 {
    background-color:#DEB887;
    color: white;

        }       
h3 {
    background-color:#DEB887;
    color: white;
        
        }       
li{
    font-size: 1.25em;
}
dl {
    background-color: #F0E7DB;
    line-height: 150%;
}
dt {
    
    font-style : small-caps; 
    font-weight: bolder;
}