body {
  font-family: candara, sans-serif;
  margin: auto;
  width: 60%;
  border: 1px solid brown;
  padding: 15px 0;
}
abbr{
    font-family:sans-serif;
    color:#87ADF1;
}   
p.etimología {
  background-color: gainsboro;
  color: green;
}
abbr {
color:cornflowerblue
}
a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  }
strong{
  color: blue;
  font-size:1.25em;
}
.subrayado {
   text-decoration: underline
}
.rojo {
font-weight: bold;
color: red;
}




