h1 {
   
    color:#0019FF;
    
     text-align: left;
      }
                
h2 {
    background-color:#DCDCDC;
    color: #048204;

        }       
a {
    color:#0019FF;
     text-align: left;

        }       

