h1 {
    font-family:sans-serif;
    color:#0019FF;
    
     text-align: left;
      }
                
h2 {
    font-family:sans-serif;
    background-color:#DCDCDC;
    color: #048204;

        }       
a {
    font-family:sans-serif;
    color:#0019FF;
    font-size:large;
     text-align: left;

        }    
abbr{
    font-family:sans-serif;
    color:#87ADF1;
}   

  body{
    border:3px solid #993333 ;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 1em;
  }
  h4 {
    color: red;
}



